
{% load static %}


       
      
<footer class="bg-gray-800 text-white py-8">
            <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
              <div>
                <h4 class="text-xl font-semibold mb-4">À propos de Taclo</h4>
                <p>Taclo  est votre première destination d’achat en ligne pour des produits de qualité et un excellent service client.</p>
              </div>
              <div>
                <h4 class="text-xl font-semibold mb-4">Liens rapides</h4>
                <ul>
                  <li><a href="#" class="hover:text-gray-300">Politique de confidentialité</a></li>
                  <li><a href="#" class="hover:text-gray-300">Conditions d’utilisation</a></li>
                  <li><a href="#" class="hover:text-gray-300">Contactez-nous</a></li>
                </ul>
              </div>
              <div>
                <h4 class="text-xl font-semibold mb-4">Connect With Us</h4>
                <div class="flex space-x-4">
                  <a href="#" class="text-2xl hover:text-gray-300"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="text-2xl hover:text-gray-300"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="text-2xl hover:text-gray-300"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="text-center mt-8">
              <p>&copy; 2023 Taclo. All rights reserved.</p>
            </div>
</footer>
        
