{% load static %}

<header class="bg-white shadow-sm">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <svg class="h-8 w-8 text-indigo-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
          </svg>
          <span class="ml-2 text-2xl font-bold text-gray-800"> <a href="{%url 'Projecty'%}">LinkMaster</a></span>
        </div>
        <div class="flex space-x-4">
          <a href="{%url 'feature'%}" class="text-gray-600 hover:text-indigo-500 transition duration-300">Features</a>
          <a href="{%url 'home'%}" class="text-gray-600 hover:text-indigo-500 transition duration-300">porfolio</a>
          <a href="{%url 'Prix'%}" class="text-gray-600 hover:text-indigo-500 transition duration-300">Prix</a>
          <a href="{%url 'api'%}" class="text-gray-600 hover:text-indigo-500 transition duration-300">API</a>
          <a href="#" class="text-gray-600 hover:text-indigo-500 transition duration-300">Login</a>
          <a href="#" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 transition duration-300">Sign Up</a>
        </div>
      </div>
    </nav>
  </header>